<div class="main-container">
    <div class="header">
        <h1>
            <a href="/">ADRIAN HINTZE</a>
        </h1>
    </div>
    <div class="content">
        <div>
            <p>
                Currently managing clients and projects after making the jump from developing.
            </p>
            <p>
                Still interested in coding anything web-related.
            </p>
            <p>
                You can find me at:
            </p>
            <p>
                <a href="https://github.com/adrian-hintze/personal-website/">LinkedIn</a>
            </p>
            <p>
                <a href="https://github.com/adrian-hintze/personal-website/">GitHub</a>
            </p>
        </div>
        <div>
            <img src="assets/img/about.jpg">
        </div>
    </div>
    <div class="footer">
        <p>
            Powered by <a href="https://github.com/adrian-hintze/personal-website/">me</a>
        </p>
    </div>
</div>

<router-outlet></router-outlet>
