/* You can add global styles to this file, and also import other style files */a

html, body {
    margin: 0;
    background-color: #FCFCFC;
    color: #222222;
}

a {
    color: #555555;
}

h1 {
    font-family: 'Roboto', Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 42px;
    letter-spacing: 1px;
    line-height: 1.2em;

    a {
        text-decoration: none;
    }
}

p {
    font-family: 'PT Sans', Arial;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    line-height: 1.8em;

    a {
        font-size: 20px;
    }

    a:hover {
        color: #000000;
    }
}
